<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Contactanos</title>
</head>

<body>
    <div class="contenedor">
        <header class="header">
            <div class="logo">
            <img src="{% static 'app/img/logo_pagina.png' %}" id="logo_patas" alt="logo_pagina" >
        </div>
        <div class="navegacion">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index'%}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto'%}">Quiero que me contacten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tienda'%}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api'%}">Una pelicula para ti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agregar_producto'%}">Agregar Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_productos'%}">Lista de Productos</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">cerrar sesión</a>
                </li>
                <li>
                    <a href="#">@{{ user.username }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">iniciar sesión</a>
                </li>
                {% endif %}
                <li></li>
            </ul>
        </div>
    </header>
    </div>
    
    <img class="acostado" src="{% static 'app/img/perro_acostado.jpg'%}" alt="Perrito acostado" >

    <div class="aside aside-3">

        <h2>
            ¡Quiero que me contacten!</h2>
            <br>
            <br>
        <div class="form-inline" id="contenido" style="
        display: block;">

            <form action="contacto" id="formulario_contacto">
    
                <label for="nombre">Nombre :</label>
                <input type="text" name="nombre" id="nombre" />
                <br>
                <label for="email">Correo Electronico :</label>
                <input type="email" name="email" id="email" />
                <br>
                <label for="tipo_solicitud">Tipo Solicitud :</label>
                <select name="tipo_solicitud" id="tipo_solicitud">
                    <option value="">Seleccionar</option>
                    <option value="Alimentos Especiales">Alimentos Especiales</option>
                    <option value="Reclamos">Reclamos</option>
                    <option value="Encargos">Encargos</option>
                    <option value="Consultas">Consultas</option>
                </select>
                <br>
                <label for="mensaje">Mensaje :</label>
                <textarea name="mensaje" id="mensaje" cols="20" rows="8"></textarea>
                <br>
                <input type="checkbox" name="avisos" id="avisos">
                <label for="avisos">¿Quiere mantenerse al tanto de las promociones?</label>
                <br>
                <input type="reset" value="Limpiar">
                <button type="button" id="guardar">Guardar</button>
                <div id="info" class="text-center">
                </div>

            
            
            </form>

            
            </div>

            

    </div>



        <footer class="footer">
            <div class="footer__addr">
            <h1 class="footer__logo">sobre nosotros</h1>
                
                <h2>Contacto</h2>
                
                <address>
                    Av. Apoquindo 1529<br>
                        
                    <a class="footer__btn" href="mailto:example@gmail.com">Hablanos</a>
                </address>
                </div>
                
                <ul class="footer__nav">
                <li class="nav__item">
                <h2 class="nav__title">Media</h2>
        
                    <ul class="nav__ul">
                    <li>
                        <a href="#">Online</a>
                    </li>
            
                    <li>
                        <a href="#">Imprimir</a>
                    </li>
                    
                    <li>
                        <a href="#">Publicidad</a>
                    </li>
                    </ul>
                </li>
                
                <li class="nav__item nav__item--extra">
                    <h2 class="nav__title">Tecnología</h2>
                    
                    <ul class="nav__ul nav__ul--extra">
                    <li>
                        <a href="#">Diseño Hardware</a>
                    </li>
                    
                    <li>
                        <a href="#">Diseño Software</a>
                    </li>
                    
                    <li>
                        <a href="#">Automatización</a>
                    </li>
                    
                    <li>
                        <a href="#">Inteligencia Artificial</a>
                    </li>
                    
                    <li>
                        <a href="#">AUX</a>
                    </li>
                    </ul>
                </li>
                
                <li class="nav__item">
                    <h2 class="nav__title">Legalidad</h2>
                    
                    <ul class="nav__ul">
                    <li>
                        <a href="#">Politicas de Privacidad</a>
                    </li>
                    
                    <li>
                        <a href="#">Terminos de Uso</a>
                    </li>
                    </ul>
                </li>
                </ul>
                
                <div class="legal">
                <p>&copy; 2022 CopyRight. Todos los derechos reservados.</p>
                </div>
                
            </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
        <script src="{% static 'app/js/formulario.js'%}"></script>
        <script src="{% static 'app/js/traducciones.js'%}"></script>
        <script src="{% static 'app/js/js/api_foto_random.js'%}"></script>
        
        
        
</body>
